<div id="<%= dom_id recette %>">
  <p>
    <strong>Nom:</strong>
    <%= recette.nom %>
  </p>

  <p>
    <strong>Ingredients:</strong>
    <%= recette.ingredients %>
  </p>

  <p>
    <strong>Instructions:</strong>
    <%= recette.instructions %>
  </p>

</div>
